<aside id="aside" th:fragment="aside">
    <nav>
        <a th:href="@{/admin/dashboard}" class="btn-nav"><i class="bi bi-pie-chart-fill"></i>
            <p>Dashboard</p>
        </a>
        <a th:href="@{/admin/reservas}" class="btn-nav"><i class="bi bi-ticket-fill"></i>
            <p>Gestionar Reservas</p>
        </a>
        <a th:href="@{/admin/reporteExcel}" class="btn-nav"><i class="bi bi-file-earmark-text-fill"></i>
            <p>Reportes</p>
        </a>
        <a th:href="@{/admin/camposDeportivos}" class="btn-nav"><i class="bi bi-stack"></i>
            <p>Gestionar Campos D. </p>
        </a>

        <!-- <a href="" class="btn-nav"><i class="bi bi-calendar-fill"></i>
            <p>Ver Calendario</p>
        </a> -->
        <a th:href="@{/admin/gestionarUsuarios}" class="btn-nav"><i class="bi bi-person-fill-gear"></i>
            <p>Gestionar Usuarios</p>
        </a>
        <a th:href="@{/index}" class="btn-nav"><i class="bi bi-person-fill-gear"></i>
            <p>Modo Usuario</p>
        </a>
        <a class="btn-nav" onclick="salir()">
            <i class="bi bi-power"></i>
            <p>Cerrar Sesion</p>
        </a>
    </nav>
</aside>