@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@primaryColor: #1e7c52;
@tertiaryColor: #29A36C;
@secondaryColor: #f8f9fa;
@darkColor: #218356;
@darkColor2: #0b5c36;

@textColorDark2: #365e4b;
@textColorDark: rgb(213, 224, 219);
@textSize: 16px;

// mixins
.redondear(@radio: 16px) {
    border-radius: @radio;
}

* {
    font-family: 'Lato', sans-serif;
}


body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header {
    width: 100%;
    background-color: @tertiaryColor;
    color: @secondaryColor;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: @darkColor2 2px solid;

    p {
        padding: 0;
        margin: 0;
        color: @secondaryColor;
        font-size: @textSize;
        font-weight: 500;

    }

    #header-left {
        display: flex;
        align-items: center;
        gap: 10px;

        i {
            font-size: @textSize;
            -webkit-text-stroke: white 1px;
        }
    }

    #header-right {
        display: flex;
        align-items: center;
        gap: 10px;

        i {
            font-size: @textSize;
            -webkit-text-stroke: white 1px;
        }
    }

    button {
        background-color: transparent;
        border: 2px solid transparent;
        color: @secondaryColor;
        font-size: @textSize;
        cursor: pointer;
        .redondear(8px);
        transition: all 0.3s ease;
    }

    button:hover {
        border: 2px solid @tertiaryColor;
        background-color: @tertiaryColor;
    }
}

main {
    display: flex;
    flex: 1;

    #aside {
        width: 250px;
        height: auto;
        background-color: @primaryColor;
        color: @secondaryColor;
        transition: all .3s ease;

        nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .btn-nav {
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: @primaryColor;
                color: @secondaryColor;
                text-decoration: none;
                padding: 10px 20px;
                width: 100%;
                transition: all 0.3s ease;
                height: auto;
                gap: 10px;

                i {
                    font-size: @textSize;
                    background-color: transparent;
                    border: 2px solid transparent;
                    color: @secondaryColor;
                    padding: 0 6px;
                    // .redondear(8px);
                }

                p {
                    margin: 0;
                    padding: 0;
                    font-size: @textSize;
                    font-weight: 500;
                }

                border-bottom: @darkColor2 2px solid;
            }

            .btn-nav-active {
                background-color: @darkColor2;
            }

            .btn-nav:hover {
                background-color: @darkColor2;
                cursor: pointer;

            }
        }


    }

    #aside.oculto {
        width: 0;
        overflow: hidden;

    }

    section {
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: @secondaryColor;
        padding: 30px;

        gap: 30px;

        p {
            margin: 0;
            padding: 0;
        }

        .title-form {
            font-weight: 900;
            font-size: 24px;
        }

        .bloque {
            .redondear(8px);
            box-shadow: 0 8px 20px -10px rgb(2 12 27 / 0.18), 0 6px 12px -8px rgb(2 12 27 / 0.12);
            background-color: white;
            border: 1px solid @darkColor2;
            padding: 30px;
            width: 100%;
            flex: 1;

            .title-input {}

            .formulario {
                display: grid;
                gap: 30px;

            }

            #reservaForm {
                grid-template-areas:
                    "dni nombres campos precio"
                    "fecha horario observaciones observaciones"
                    "botones botones botones botones"
                    "calendar calendar calendar calendar";
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            #campoForm {
                grid-template-areas:
                    "nombreCampo precioCampo tipoCampo tipoCampo"
                    "descripcion descripcion descripcion estado "
                    "botones botones botones botones";
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            #busquedaForm {
                display: flex;
                flex-direction: row;
                //ALINEA SEGU NSU BORDE INFERIOR
                align-items: flex-end;
                gap: 30px;

                .input-nombreBusqueda {
                    flex: 1;
                }

                .contenedor-btn {
                    display: flex;
                    align-items: flex-end;
                }

                button {
                    background-color: @primaryColor;
                    border: 2px solid transparent;
                    color: @secondaryColor;
                    font-size: @textSize;
                    cursor: pointer;
                    .redondear(8px);
                    transition: all 0.3s ease;
                }

                button:hover {
                    border: 2px solid @tertiaryColor;
                    background-color: @tertiaryColor;
                    transform: translateY(-2px);
                }
            }
        }
    }

}

/*INPUT GRIDS PARA RESERVA FORM*/
.input-dni {
    grid-area: dni;
}

.input-nombres {
    grid-area: nombres;

}

.input-campo {
    grid-area: campos;

}

.input-precio {
    grid-area: precio;
}

.input-fecha {
    grid-area: fecha;

}

.input-horario {
    grid-area: horario;

}

.input-observaciones {
    grid-area: observaciones;

}

/* INPUT GRIDS PARA CAMPO*/
.input-nombreCampo {
    grid-area: nombreCampo;
}

.input-precioCampo {
    grid-area: precioCampo;
}

.input-tipoCampo {
    grid-area: tipoCampo;
}

.input-descripcion {
    grid-area: descripcion;
}

.input-estado {
    grid-area: estado;
}

.btn-contenedor {
    grid-area: botones;
}

.btn-contenedor {
    grid-area: botones;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
}

.calendar-contenedor {
    grid-area: calendar;
}

#calendar {
    .fc-col-header-cell {
        background-color: #198754;
        vertical-align: middle;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: 900;
        text-transform: capitalize;
    }



    tr {
        height: 40px;
    }

    .fc-event {
        border-radius: 8px;
        font-weight: bold;
        border: none;
        text-align: center;
    }
}

.btn {
    font-weight: bold;
    color: white;
}

#btnShowTipoModal {
    i {}
}
.btn-success{
    background-color: @primaryColor;
}
.tabla-scroll{
    max-height: 500px; 
    overflow-y: auto;
}