<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/AdminStyle.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/img/iconDeporPlaza.png}">
    <title>Gestionar Campos Deportivos - DeporPlaza</title>
</head>

<body>
    <div th:replace="~{fragments/header::header}"></div>
    <main>
        <div th:replace="~{fragments/aside::aside}"></div>
        <section>
            <div class="title-form">Gestionar Campos Deportivos</div>
            <div class="bloque">
                <form th:object="${campo}" class="formulario" id="campoForm" method="post">
                    <input id="idCampo" th:field="*{idCampo}" type="text" hidden>
                    <div class="mb-3 input-nombreCampo">
                        <label class="form-label">Nombre del campo</label>
                        <div class="input-group">
                            <input id="nombreCampo" type="text" th:field="*{nombreCampo}"
                                placeholder="Ingrese el nombre del campo..." class="form-control" required>
                        </div>
                    </div>
                    <div class="mb-3 input-precioCampo">
                        <label class="form-label">Precio por hora</label>
                        <input id="precioHora" type="number" th:field="*{precioHora}"
                            placeholder="Ingrese el precio por hora..." class="form-control" required>
                    </div>
                    <div class="mb-3 input-tipoCampo">
                        <label class="form-label">Tipo de campo</label>
                        <div class="d-flex gap-3">
                            <select class="form-select" name="idTipoC" id="tipoC" required>
                                <option value="" disabled selected>---Elegir---</option>
                                <option th:each="p:${tipos}" th:value="${p.idTipo}" th:text="${p.nombreTipo}">
                                </option>
                            </select>
                            <a class="btn btn-success" id="btnShowTipoModal" data-bs-toggle="modal"
                                data-bs-target="#tipoModal">
                                <i class="bi bi-plus"></i> </a>
                        </div>
                    </div>

                    <div class="mb-3 input-descripcion">
                        <label class="form-label">Descripción</label>
                        <textarea id="descripcion" th:field='*{descripcion}' class="form-control"
                            placeholder="Ingrese una descripción del campo...">
                        </textarea>
                    </div>

                    <div class="mb-3 input-estado">
                        <label class="form-label">Estado</label>
                        <select id="estado" class="form-select" th:field="*{estado}" required>
                            <option value="" disabled>---Elegir---</option>
                            <option selected value="ACTIVO">ACTIVO</option>
                            <option value="INACTIVO">INACTIVO</option>
                        </select>
                    </div>

                    <div class="mb-3 btn-contenedor">
                        <button id="btnSave" class="btn btn-success">Guardar</button>
                        <a onclick="limpiar()" class="btn btn-danger">Limpiar</a>
                    </div>

                </form>

                <div class="title-form mb-3">Filtrar registros:
                </div>
                <form id="busquedaForm" class="mb-3">
                    <div class="input-nombreBusqueda">
                        <label class="form-label">Nombre del Campo</label>
                        <input id="nombreBusqueda" type="text" class="form-control"
                            placeholder="Ingrese el nombre del campo...">
                    </div>

                    <div class="input-">
                        <label class="form-label">Precio Mínimo</label>
                        <input id="precioHoraMin" type="number" class="form-control" placeholder="Precio Mínimo">
                    </div>
                    <div class="input-">
                        <label class="form-label">Precio Máximo</label>
                        <input id="precioHoraMax" type="number" class="form-control" placeholder="Precio Máximo">
                    </div>
                    <div class=" input-">
                        <label class="form-label">Tipo de campo</label>
                        <select id="tipoCBusqueda" class="form-select">
                            <option value="" selected>TODOS</option>
                            <option th:each="p:${tipos}" th:value="${p.idTipo}" th:text="${p.nombreTipo}">
                            </option>
                        </select>

                    </div>
                    <div class="input-">
                        <label class="form-label">Estado</label>
                        <select id="estadoBusqueda" class="form-select">
                            <option value="" selected>TODOS</option>
                            <option value="ACTIVO">ACTIVO</option>
                            <option value="INACTIVO">INACTIVO</option>
                        </select>
                    </div>
                    <div class="contenedor-btn d-flex gap-3 ">
                        <a id="btnBusqueda" onclick="buscar()" class="btn btn-success">
                            <i class="bi bi-search"></i>
                        </a>
                        <a id="btnLimpiarBusqueda" onclick="limpiarBusqueda()" class="btn btn-info">
                            <i class="bi bi-arrow-clockwise"></i>
                        </a>
                    </div>
                </form>
                <div class="table-responsive">
                    <table id="tablaCampo" class="table table-striped table-hover border border-2">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th>Nombre Campo</th>
                                <th class="text-end">Precio x Hora</th>
                                <th>Tipo de Campo</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tablaCampoBody">
                            <tr th:each="item:${campos}" class="align-middle">
                                <td th:text="${item.idCampo}" class="text-center">id</td>
                                <td th:text="${item.nombreCampo}">nombre</td>
                                <td th:text="${item.precioHora}" class="text-end">precio</td>
                                <td th:text="${item.tipoCampo.nombreTipo}">tipo</td>
                                <td th:text="${item.estado}">tipo</td>
                                <td>
                                    <a th:onclick="|cargarEdicionCampo(${item.idCampo})|" class="btn btn-warning">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <button type="button" class="btn btn-danger"
                                        th:onclick="|eliminarCampo(${item.idCampo})|">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </section>
        <div class="modal fade" id="tipoModal" tabindex="-1" aria-labelledby="tipoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="tipoModalLabel">Registrar Tipo de Campo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:object="${tipo}" class="formulario" id="tipoForm" method="post">
                        <div class="modal-body">
                            <div class="mb-3 ">
                                <label class="form-label">Nuevo Tipo de Campo</label>
                                <div class="input-group">
                                    <input id="idTipo" th:field="*{idTipo}" hidden>
                                    <input id="nombreTipo" th:field="*{nombreTipo}" type="text"
                                        placeholder="Ingrese el tipo de campo..." class="form-control" required>
                                </div>
                            </div>
                            <div class="mb-3 btn-contenedor">
                                <button id="btnSaveTipo" type="submit" class="btn btn-success">Guardar</button>
                            </div>
                            <div class="table-responsive tabla-scroll">
                                <table class="table table-striped table-hover border border-2">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th>Tipo de Campo</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tablaTipoBody">

                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <!-- SCRIPT DE BOOSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js"></script>
    <script th:inline="javascript">
        const listaHorarios = /*[[${horarios}]];*/[]
        const listaCampos = /*[[${campos}]];*/[]
        let campoSeleccionado = null;
        let calendar;
        let modoEdicion = false;
        let modoEdicionTipo = false;

    </script>

    <script>
        //CODIGO PARA CERRAR SESION
        const formLogout = document.getElementById("logoutForm")
        formLogout.addEventListener('submit', (e) => {
            e.preventDefault();
            Swal.fire({
                title: "¿Estas seguro?",
                text: "Cerraras la sesion actual.",
                icon: "question",
                showCancelButton: true,
                confirmButtonColor: "#1e7c52",
                cancelButtonColor: "#d33",
                confirmButtonText: "Si, deseo salir"
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById("logoutForm").submit();
                }
            });
        })
        //CODIGO PARA OCULTAR ASIDE
        const btnMenu = document.getElementById("btn-menu");
        const aside = document.getElementById("aside");
        btnMenu.addEventListener('click', () => {
            aside.classList.toggle("oculto");
        });

        //CODIGO PARA FORMULARIO CAMPO
        const campoForm = document.getElementById('campoForm');

        campoForm.addEventListener('submit', function (event) {

            event.preventDefault(); // Evita recargar la página

            // Enviar datos con AJAX
            const formData = new FormData(campoForm);

            fetch('/admin/registrarCampo', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {

                    if (data.success) {
                        const inputidCampo = document.getElementById('idCampo')
                        Swal.fire({
                            icon: 'success',
                            title: (modoEdicion) ? 'Editado Correctamente' : 'Registro Exitoso',
                            text: data.message,
                            confirmButtonText: 'Aceptar'
                        }).then(() => {

                            // Limpiar formulario
                            modoEdicion = false;
                            campoForm.reset();
                            location.reload();
                        });

                    } else {

                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: data.message
                        });

                    }

                })
                .catch(error => {

                    Swal.fire({
                        icon: 'error',
                        title: 'Error del servidor',
                        text: error
                    });

                });

        });
        //Cargar datos del campo a editar
        function cargarEdicionCampo(idCampo) {
            const botonEditar = document.getElementById("btnSave")
            const inputidCampo = document.getElementById('idCampo')
            const inputNombreCampo = document.getElementById('nombreCampo')
            const inputPrecioHora = document.getElementById('precioHora')
            const selectTipoCampo = document.getElementById('tipoC')
            const inputDescripcion = document.getElementById('descripcion')
            const selectEstado = document.getElementById('estado')
            botonEditar.textContent = "Editar";
            botonEditar.classList.add('btn-warning', 'text-white');
            botonEditar.classList.remove('btn-success');
            fetch(`/admin/obtenerCampoPorId?idCampo=${idCampo}`, { method: 'GET' })
                .then(response => response.json())
                .then(data => {
                    modoEdicion = true;
                    const campoEditar = data.campo;
                    inputidCampo.value = campoEditar.idCampo;
                    inputNombreCampo.value = campoEditar.nombreCampo;
                    inputPrecioHora.value = campoEditar.precioHora;
                    selectTipoCampo.value = campoEditar.tipoCampo.idTipo;
                    inputDescripcion.value = campoEditar.descripcion;
                    selectEstado.value = campoEditar.estado;
                    window.scrollTo({
                        top: 0,
                        behavior: "smooth"
                    });

                })
        }
        // Eliminar un Campo
        function eliminarCampo(idCampo) {
            Swal.fire({
                icon: 'warning',
                title: '¿Eliminar campo?',
                text: 'Esta acción no se puede deshacer.',
                showCancelButton: true,
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar',
                confirmButtonColor: '#d33',
                cancelButtonColor: "#0d6efd"
            }).then((result) => {

                if (result.isConfirmed) {

                    fetch(`/admin/eliminarCampoPorId?idCampo=${idCampo}`, {
                        method: 'POST'
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Campo eliminado',
                                    text: data.message
                                }).then(() => {
                                    location.reload();
                                });

                            } else {

                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: data.message
                                });

                            }

                        })
                        .catch(error => {

                            Swal.fire({
                                icon: 'error',
                                title: 'Error del servidor',
                                text: error
                            });

                        });

                }

            });

        }
        function buscar() {
            const nombreBusqueda = document.getElementById("nombreBusqueda").value;
            const tablaBody = document.getElementById("tablaCampoBody");
            const precioHoraMin = document.getElementById("precioHoraMin").value;
            const precioHoraMax = document.getElementById("precioHoraMax").value;
            const tipoSelect = document.getElementById("tipoCBusqueda");
            const tipoTexto = tipoSelect.value === "" ? "" : tipoSelect.options[tipoSelect.selectedIndex].text;
            const estado = document.getElementById("estadoBusqueda").value;
            console.log(estado)
            fetch(`/admin/busquedaCampo?nombreCampo=${nombreBusqueda}&precioHoraMin=${precioHoraMin}&precioHoraMax=${precioHoraMax}&tipoCampo=${tipoTexto}&estado=${estado}`)
                .then(response => response.json())
                .then(data => {

                    let html = "";

                    data.campos.forEach(item => {

                        html += `
                <tr class="align-middle">
                <td class="text-center">${item.idCampo}</td>
                <td>${item.nombreCampo}</td>
                <td class="text-end">${item.precioHora.toFixed(2)}</td>
                <td>${item.tipoCampo.nombreTipo}</td>
                <td>${item.estado}</td>
                <td>
                    <button type="button"
                            class="btn btn-warning"
                            onclick="cargarEdicionCampo(${item.idCampo})">
                        <i class="bi bi-pencil-square"></i>
                    </button>

                    <button type="button"
                            class="btn btn-danger"
                            onclick="eliminarCampo(${item.idCampo})">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </td>
                </tr>
                `;

                    });

                    tablaBody.innerHTML = html;

                });
        }
        function limpiarBusqueda() {
            const nombreBusqueda = document.getElementById("nombreBusqueda");
            const precioHoraMin = document.getElementById("precioHoraMin");
            const precioHoraMax = document.getElementById("precioHoraMax");
            const tipoCBusqueda = document.getElementById("tipoCBusqueda");
            const estadoBusqueda = document.getElementById("estadoBusqueda");
            nombreBusqueda.value = "";
            precioHoraMax.value = 0;
            precioHoraMin.value = 0;
            tipoCBusqueda.selectedIndex = 0;
            estadoBusqueda.selectedIndex = 0;
            buscar();
        }
        function limpiar() {
            const idCampo = document.getElementById("idCampo");
            const precioHora = document.getElementById("precioHora");
            const tipoC = document.getElementById("tipoC");
            const descripcion = document.getElementById("descripcion");
            const estado = document.getElementById("estado");
            idCampo.value = "";
            precioHora.value = "";
            descripcion.value = "";
            tipoC.selectedIndex = 0;
            estado.selectedIndex = 1;
        }
        const btnShowTipoModal = document.getElementById("btnShowTipoModal");
        btnShowTipoModal.addEventListener("click", (e) => {
            e.preventDefault();
            cargarTablaTipo();
        })

        const tipoForm = document.getElementById("tipoForm");
        tipoForm.addEventListener("submit", (event) => {
            event.preventDefault();
            const formData = new FormData(tipoForm);
            const botonEditar = document.getElementById("btnSaveTipo")
            fetch('/admin/registrarTipo', {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            icon: "success",
                            title: (modoEdicionTipo) ? "Editado Correctamente" : "Registro Exitoso",
                            text: data.message,
                            confirmButtonText: "Aceptar"
                        }).then(() => {
                            modoEdicionTipo = false;
                            tipoForm.reset();
                            cargarTablaTipo();
                            botonEditar.classList.add("btn-success");
                            botonEditar.classList.remove("btn-warning");
                            botonEditar.innerHTML = "Guardar"
                            buscar();

                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: data.message
                        });
                    }
                })
                .catch(error => {
                    Swal.fire({
                        icon: "error",
                        title: "Error del servidor",
                        text: error
                    });
                });
        });
        function cargarTablaTipo() {
            const tablaBodyTipo = document.getElementById("tablaTipoBody");
            tablaBodyTipo.innerHTML = ""
            let html = "";
            let tipos = [];
            fetch("/admin/obtenerTipos", { method: "GET" })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        tipos = data.tipos;
                        tipos.forEach(item => {
                            html +=
                                `
                <tr class="align-middle">
                    <td class="text-center">${item.idTipo}</td>
                    <td >${item.nombreTipo}</td>
                    <td>
                        <a onclick="cargarEdicionTipo(${item.idTipo})" class="btn btn-warning">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <button type="button" class="btn btn-danger" onclick="eliminarTipo(${item.idTipo})">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </td>
                </tr>
                `;
                        });
                        tablaBodyTipo.innerHTML = html;
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: data.message
                        });
                    }
                })
                .catch(error => {
                    Swal.fire({
                        icon: "error",
                        title: "Error del servidor",
                        text: error
                    });
                });

        }
        function cargarEdicionTipo(idTipo) {
            const botonEditar = document.getElementById("btnSaveTipo")
            const inputidTipo = document.getElementById('idTipo')
            const inputNombreTipo = document.getElementById('nombreTipo')

            botonEditar.textContent = "Editar";
            botonEditar.classList.add('btn-warning', 'text-white');
            botonEditar.classList.remove('btn-success');
            fetch(`/admin/obtenerTipoPorId?idTipo=${idTipo}`, { method: 'GET' })
                .then(response => response.json())
                .then(data => {
                    modoEdicion = true;
                    const tipoEditar = data.tipo;
                    inputidTipo.value = tipoEditar.idTipo;
                    inputNombreTipo.value = tipoEditar.nombreTipo;

                    /*window.scrollTo({
                        top: 0,
                        behavior: "smooth"
                    });*/

                })
        }
        function eliminarTipo(idTipo) {
            Swal.fire({
                icon: "warning",
                title: '¿Eliminar campo?',
                text: "Esta accion no se puede deshacer.",
                showCancelButton: true,
                confirmButtonText: "Si, eliminar",
                cancelButtonText: "Cancelar",
                confirmButtonColor: '#d33',
                cancelButtonColor: "#0d6efd"
            })
                .then(result => {
                    if (result.isConfirmed) {
                        fetch(`/admin/eliminarTipo?idTipo=${idTipo}`, { method: "POST" })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    Swal.fire({
                                        icon: "success",
                                        title: "Tipo de campo eliminado.",
                                        text: data.message
                                    })
                                        .then(() => {
                                            cargarTablaTipo();
                                        });
                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Error',
                                        text: data.message
                                    });
                                }

                            })
                            .catch(error => {

                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error del servidor',
                                    text: error
                                });

                            });
                    }
                })

        }
    </script>
</body>

</html>