<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/IndexStyle.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>

<body>
    <header id="header">
        <nav id="nav-bar">
            <div id="left-bar">
                <span>DEPORPLAZA LIMA</span>
            </div>
            <div id="center-bar">
                <a class="btn-bar">INICIO</a>
                <a class="btn-bar"> CAMPOS</a>
                <a class="btn-bar">HORARIOS</a>
                <a class="btn-bar btn-resaltado">RESERVA YA!</a>
            </div>
            <div id="right-bar">
                <a th:if="${usuarioLogueado == null}" th:href="@{/login}" id="btn-login"
                    class="btn-bar btn-resaltado">Ingresa Ya!</a>
                <span th:if="${usuarioLogueado != null}" id="text-logueado"
                    th:text="${usuarioLogueado.nombreCompleto}"></span>

                <form th:if="${usuarioLogueado != null}" th:action="@{/logout}" id="logoutForm" method="post">
                    <button id="dropbox-perfil" type="submit" th:onclick="salir()">
                        <i class="bi bi-file-person-fill"></i>
                    </button>
                </form>
            </div>
        </nav>
    </header>
    <main id="main">

        <div id="banner" class="">
            <span id="banner-title">
                Tu cancha ideal a un <span id="banner-highlight">clic</span> de distancia
            </span>
            <span id="banner-description">
                Encuentra y reserva los mejores espacios deportivos de la ciudad. Fútbol, Pádel, Tenis y más.
            </span>
        </div>
        <div class="w-100 contenedor">
            <p class="text-title">Reserva tu cancha en minutos</p>
            <p class="text-description">Olvídate de llamadas, mensajes y largas esperas. Encuentra y reserva tu espacio deportivo desde cualquier
                dispositivo.</p>
            <div class="card">
                <div class="cards">
                    <div class="card-head">
                        <p>Regístrate</p>
                    </div>
                    <div class="card-body">
                        <i class="bi bi-person-plus-fill"></i>
                        <p>Crea tu cuenta y accede a todas las funcionalidades de DeporPlaza.</p>
                    </div>
                </div>
                <div class="cards">
                    <div class="card-head">
                        <p>Explora y elige</p>
                    </div>
                    <div class="card-body">
                        <i class="bi bi-search"></i>
                        <p>Encuentra canchas de fútbol, vóley, básquet y más según tu ubicación y disponibilidad.</p>
                    </div>
                </div>
                <div class="cards">
                    <div class="card-head">
                        <p>Reserva al instante</p>
                    </div>
                    <div class="card-body">
                        <i class="bi bi-calendar-check-fill"></i>
                        <p>Elige tu horario, realiza el pago y recibe la confirmación inmediata.</p>
                    </div>
                </div>
            </div>
        </div>


    </main>
    <footer id="footer">
        <div id="footer-content">
            <div id="footer-left">
                <p class="footer-title">Empresa DeporPlaza</p>
                <p>Somos una plataforma diseñada para conectar a los deportistas con los mejores espacios
                    deportivos de la ciudad. Facilitamos la búsqueda, comparación y reserva de canchas de fútbol, pádel,
                    tenis y otras disciplinas, ofreciendo una experiencia rápida, segura y accesible desde cualquier
                    dispositivo.</p>
            </div>
            <div id="footer-center">
                <p class="footer-title">Contacto</p>
                <p class="footer-content"><i class="bi bi-envelope-fill"></i> contacto@deporplaza.pe</p>
                <p class="footer-content"><i class="bi bi-telephone-fill"></i> +51 987 654 321</p>
                <p class="footer-content"><i class="bi bi-geo-alt-fill"></i> Lima, Perú</p>
            </div>
            <div id="footer-right">
                <p class="footer-title">Redes Sociales</p>
                <p>
                    <a href="https://facebook.com/DeporPlazaOficial" target="_blank">
                        <i class="bi bi-facebook"></i> DeporPlaza Oficial
                    </a>
                </p>

                <p>
                    <a href="https://instagram.com/deporplaza.pe" target="_blank">
                        <i class="bi bi-instagram"></i> @deporplaza.pe
                    </a>
                </p>


                <p>
                    <a href="https://tiktok.com/@deporplaza.pe" target="_blank">
                        <i class="bi bi-tiktok"></i> @deporplaza.pe
                    </a>
                </p>
            </div>
        </div>
        <div id="footer-copyright">
            <p>&copy; 2026 DeporPlaza. Todos los derechos reservados.</p>
        </div>
    </footer>
    <!-- FONT DE POPPER PARA BTNS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <!-- SCRIPT DE BOOSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        const formLogout = document.getElementById("logoutForm")
        formLogout.addEventListener('submit', (e) => {
            e.preventDefault();
            Swal.fire({
                title: "¿Estas seguro?",
                text: "Cerraras la sesion actual.",
                icon: "question",
                showCancelButton: true,
                confirmButtonColor: "#1e7c52",
                cancelButtonColor: "#d33",
                confirmButtonText: "Si, deseo salir"
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById("logoutForm").submit();
                }
            });
        })
    </script>
</body>

</html>